
# Configure time
.deps/
aclocal.m4
Makefile
autom4te.cache/
config.h
config.h.in
config.log
config.status
stamp-h1

# Build time
*.o
cucss2sac
eigcon
eigen2asc
endi
green
minos_bran
simpledit
syndat

# Documentation
doc/mineos.pdf

.DS_Store
